<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.phaseup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlueBookActivity"
            android:label="@string/blue_book">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AviationSongActivity"
            android:label="@string/aviation_songs">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.phaseup.MainActivity" />
        </activity>

        <activity
            android:name=".SoldierCreedActivity"
            android:label="@string/soldier_creed">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.phaseup.MainActivity" />
        </activity>
        <activity
            android:name=".RoomInspectionActivity"
            android:label="@string/room_inspection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.phaseup.MainActivity" />
        </activity>
        <activity
            android:name=".WallLockerActivity"
            android:label="@string/wall_locker_inspection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.phaseup.MainActivity" />
        </activity>
        <activity
            android:name=".ASUActivity"
            android:label="@string/asu_inspection">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.phaseup.MainActivity" />
        </activity>
    </application>

</manifest>